.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.app {
  display: flex;
  /* height: 100vh; */
  width: 100%;
}

.ingredient-amount-input {
  width: 30%;
  padding: 10px;
  border-right: 1px solid gray;
}

.ingredient-image {
  height: 50px;
  width: auto;
  margin-right: 10px;
}

.ingredient-name {
  margin-right: auto;
}

.ingredient-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input[type="number"] {
  padding: 5px 10px;
  /* margin-bottom: 10px; */
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.recipe-can-make {
  color: green;
}

.recipe-cannot-make {
  color: red;
}


.recipe-list {
  flex: 2;
  padding: 10px;
}

.recipes-column {
  flex: 1;
  /* padding: 20px;  */
  overflow-y: auto;
  /* this allows scrolling for overflowing content */
  max-height: 100vh;
}

.ingredients-column {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.recipes-column {
  overflow-y: auto;
  height: 100%;
}

.recipe-list-top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 5px 15px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

h3:hover {
  background-color: #ddd;
}

.recipe-title {
  margin: 10px 0;
  font-size: 24px;
}

body {
  font-family: 'Roboto', sans-serif;
}

div,
input,
h3 {
  transition: all 0.3s ease;
}

body,
html {
  margin: 0;
  padding: 0;
}